<html>
    <head>
        <link rel="stylesheet" href="./css/style.css" >
    </head>
    <body>
        
        <h1>Liste des Articles à acheter</h1>

            <% for (let i = 0 ; i < Liste.length ; i++) { %>
                <form>    

                        <% if ( barre[i] == "1" ) { %>  
                            
                                <div> <s> <%= Liste[i] %> <%= chiffre[i] %></s> </div>
                            <% } %>
                        <% if ( barre[i] == "0") { %>  
                     <div> <%= Liste[i] %> <%= chiffre[i] %>   <input type="submit" formaction="/article/delete/<%= i%>" value ='Effacer' > <input type="submit" value="Acheté ?" formaction="/achete/<%= i%>" >            
                        </br> 
                    </div>
                    <% } %>
                </form>
            <% } %>
            </br>

           
            <form>
                <input class="bouton" type = "submit" value="Ajouter" formaction="/add">

        </form>
    </body>
</html>